:root {
    --primary-color: black;
}
.footer 
{
    text-align: center;
    padding: 25px;
    font-size: small;
}

.footer.image 
{
    width: 5%;
    height: 5%;
}

.navigation-bar 
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    height: 40px;
    background-color: black;
}

.navigation-title 
{
    font-size: 15px;
    font-weight: 600;
    color: azure;
    padding: 20%;
}

.container 
{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.profile 
{
    
    display: grid;
    flex-direction: column;
    gap: 10px;
}

.about 
{
    padding: 15px;
    align-self: center;
}

.proyectos 
{
    align-items: center;
    text-align: center;
    padding-left: 50px;
}

h1 + h2 + h3
{
    text-align: center;
    margin-top: 15px;
}

.wifiConnect {
    margin: 10% 10% 10%;
    margin: 10mm 10mm 10mm;
    font-size: small;
}

.wifi-connect {
    padding: 1;
    font-size: x-small;
}

.keyWifi-text {
    padding: 1;
    font-size: x-small;
}

.keyWifi {
    margin-top: 60px;
    font-size: 15px;
    scroll-padding: 20px;
    padding: 100px;
}

