footer {
    text-align: center;
}

nav {
    text-align: center;
}

.presentation {
    text-align: left;

}

.proyectos {
    align-items: center;
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    text-align: center;
    padding: 10px;

}