footer 
{
    text-align: center;
}

nav 
{
    text-align: center;
}

.presentation 
{
    text-align: left;
    padding: 10px;
}

.proyectos 
{
    align-items: center;
    text-align: center;
}

h1 + h2 + h3
{
    text-align: center;
    margin-top: 15px;
}

body 
{
    text-align: center;
    font-size: 15px;
    font-family: Arial;
}